<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>




<input type="file" name="file" id="file">
<script src="app.js"></script>

<div class="profilePicInput">
    <img src="<%= user.profilePic%>" alt="profile picture for the user <%= user.name %>"  width="500" height="600"> 
    <!--<input type="file" name="file" id="file">-->


    <a href="/auth/profilepic"  class="btn btn-secondary">Change Profile Picture</a>
    <!--<script src="../../public/app.js"></script>   -->
</div>

<div class="changeProficPic">
    <input type="file" name="file" id="file">
    <script src="../../public/app.js"></script>
    
</div>


<a href="/auth/logout" class="btn btn-secondary">Logout</a>

<% include ../partials/navbar %>

