<div class="container">
  <form action="/register" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleUserName1">User Name</label>
      <input name="username" type="text" class="form-control" id="exampleUserName1" placeholder="User Name">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <a href="/auth/login">
    <button type="submit" class="btn btn-primary">Submit</button>
    </a>
<!--to clear the form after submission so that the next 
  user to register does not get a form with other users info-->
    <script>
      function submitForm() {
        document.register.submit();
        document.register.reet();
      }
    </script>
  </form>

</div>